<mat-toolbar>
    @if (isTablet) {
        <div class="navbar-content">
            <button class="btn navbar-logo__btn-small" (click)="goHome()">
                <mat-icon class="navbar-logo__btn-icon" [svgIcon]="ICONS.logo_small"></mat-icon>
            </button>
            <steps></steps>
            <button class="btn navbar-menu__btn">
                <mat-icon [svgIcon]="ICONS.menu"></mat-icon>
            </button>
        </div>
    } @else {
        <div class="navbar-content">
            <button class="btn navbar-logo__btn" (click)="goHome()">
                <mat-icon class="navbar-logo__btn-icon" [svgIcon]="ICONS.logo"></mat-icon>
            </button>
            <button class="btn navbar-lang__btn">
                <!--                <span>{{lang}}</span>-->
                <mat-icon [svgIcon]="ICONS.globe"></mat-icon>
            </button>
        </div>
    }

</mat-toolbar>
