<h2>{{orderLocationTitleLabel | translate}}</h2>
<div class="location">
    <div class="location-btn">
        <button [matMenuTriggerFor]="locationMenu" class="btn">
            <div class="location-btn__icon">
                <mat-icon [svgIcon]="ICONS.location"></mat-icon>
            </div>
            <div class="location-btn__content">
                <p class="name">{{currentPrinter?.name}}</p>
                <p>{{currentPrinter?.address}}</p>
            </div>
            <div class="location-btn__action">
                <mat-icon [svgIcon]="ICONS.arrow_down"></mat-icon>
            </div>
            <mat-menu #locationMenu="matMenu" class="location-menu">
                <button mat-menu-item
                        *ngFor="let p of printerList"
                        class="location-menu__item"
                        (click)="setCurrentPrinter(p)">
                    <p>{{p.name}}</p>
                    <span>{{p.address}}</span>
                </button>
            </mat-menu>
        </button>
    </div>
    <div class="location-info">
        <div class="location-info__item schedule">
            <mat-icon [svgIcon]="ICONS.clock"></mat-icon>
            {{availableUntilLabel | translate}} 22:00
        </div>
        <div class="location-info__item details">
            <mat-icon [svgIcon]="ICONS.inbox"></mat-icon>
            {{availableSheetsLabel | translate}} {{currentPrinter?.paperLeft}} {{sheetsLabel | translate}}
        </div>
    </div>
</div>
