@use 'variables';
@use 'mixins';

.pg-header {

}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        background-color: variables.$white-12;
        z-index: 1;
    }
}
