@use 'variables';
@use 'mixins';

.pg-steps {
    display: flex;
    align-items: center;
}

.steps {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.steps__item {
    width: 48px;
    height: 4px;
    background: variables.$white-20;
    border-radius: 16px;
}

.steps__item.active,
.steps__item.completed {
    background: variables.$blue-main;
}

@include mixins.media-breakpoint-down(xxs) {
    .steps__item {
        width: 44px;
    }
}
