@use 'variables';
@use 'mixins';

.layout-footer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    //min-height: $footer--height;
    background: variables.$brand--bg;

    &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 0;
        background-color: variables.$white-12;
        z-index: 1;
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 1272px; // max-width: 1240px; + padding: 0 16px;
    font-weight: variables.$font--light;
    padding: 24px 16px;
    margin: 0 auto;
}

.footer__links {
    display: flex;
    gap: 16px;
    font-size: variables.$font-size-16;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 24px;
    color: variables.$gray-dark;

    &.mat-icon {
        width: 74px;
        height: 44px;
        border-radius: 3px;
    }
}

@include mixins.media-breakpoint-down(md) {
    .footer__content {
        flex-direction: column;
    }

    .footer__links {
        flex-direction: column;
    }

    .footer__logo {
        flex-direction: column;
    }
}
