.layout-navbar {
    --mat-toolbar-container-background-color: #{$white-100};
    //--mat-toolbar-container-text-color: white;

    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
}

.navbar-content {
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.navbar-content__btn {
    height: 44px;
    min-height: 44px;
    min-width: 74px;
    border-radius: 3px;

    .navbar-content__btn-icon.mat-icon {
        width: 100%;
        height: 100%;
    }
}
