<div class="order-header">
    <h1>{{orderTitleLabel | translate}}</h1>
    <div class="order-steps">
        <div class="order-steps__item">
            <div class="order-steps__badge">1</div>
            Adding files
        </div>
        <div class="order-steps__item">
            <div class="order-steps__badge">2</div>
            Payment
        </div>
        <div class="order-steps__item">
            <div class="order-steps__badge">3</div>
            Printing
        </div>
    </div>
</div>
<div class="order-main">
    <order-location></order-location>
    <order-files [loading]="loading"
                 [files]="fileList"
                 [settingsFormArray]="settingsFormArray"
                 (fileUploaded)="onFileUploaded($event)"
                 (fileDeleted)="onFileDeleted($event)"
                 (fileChanged)="onFileChanged($event)"></order-files>
</div>
