.order-page {

}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.order-steps {
    display: flex;
    justify-content: space-between;
}

.order-steps__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    //width: 100%;
    color: $gray-light;

    &:not(:last-of-type) {
        width: 100%;
        min-width: 140px;
    }

    &:not(:last-of-type):after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        top: 16px;
        left: 0;
        background: $white-100;
        z-index: -1;
    }
}

.order-steps__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white-100;
    color: $black-100;
    width: 32px;
    min-width: 32px;
    height: 32px;
    font-size: $font-size-16;
    border-radius: 50%;
}

.order-steps__item:first-of-type {
    color: $blue-main;

    .order-steps__badge {
        background: $blue-main;
        color: $white-100;
    }
}

@include media-breakpoint-down(md) {
    .order-header {
        flex-direction: column;
    }
}
