//@import "variables";

//
// slide-toggle
:root {
    --mat-slide-toggle-track-height: 24px;
    --mat-slide-toggle-track-width: 44px;
    --mat-slide-toggle-track-shape: 14px;

    --mat-slide-toggle-unselected-handle-size: 18px;
    --mat-slide-toggle-selected-handle-size: 18px;

    --mat-slide-toggle-unselected-handle-horizontal-margin: 0 3px;
}

//
// spinner
:root {
    //--mat-progress-spinner-active-indicator-color: #{$blue-main-40};
}
