//
//
h1 {
    font-size: $font-size-32;
    font-weight: $font--bold;
    line-height: $font--32-line-height;
}

h2 {
    font-size: $font-size-28;
    font-weight: $font--bold;
    line-height: $font--28-line-height;
}

h3 {
}

h4 {
}

h5 {
}

@include media-breakpoint-down(hd) {
    h1 {
    }

    h2 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }
}

@include media-breakpoint-down(lg) {
    h1 {
    }

    h2 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }
}

@include media-breakpoint-down(sm) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
    }
}
