@use 'variables';
@use 'mixins';

//
//
h1 {
    font-size: variables.$font-size-22;
    font-weight: variables.$font--bold;
    line-height: variables.$font--22-line-height;
}

h2 {
    font-size: variables.$font-size-18;
    font-weight: variables.$font--bold;
    line-height: variables.$font--18-line-height;
}

h3 {
}

h4 {
}

h5 {
    font-size: variables.$font-size-16;
    font-weight: variables.$font--bold;
    line-height: variables.$font--16-line-height;
}

@include mixins.media-breakpoint-down(hd) {
    h1 {
    }

    h2 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }
}

@include mixins.media-breakpoint-down(lg) {
    h1 {
    }

    h2 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }
}

@include mixins.media-breakpoint-down(xs) {
    h1 {
        font-size: variables.$font-size-20;
        line-height: variables.$font--20-line-height;
    }

    h2 {
        font-size: variables.$font-size-16;
        line-height: variables.$font--16-line-height;
    }

    h3 {
    }

    h4 {
    }

    h5 {
        font-size: variables.$font-size-14;
        line-height: variables.$font--14-line-height;
    }
}
