.printer-location {
    display: flex;
    width: 360px;
    min-width: 360px;
}

.location-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background: $brand--bg;
    border: 1px solid $white-12;
    border-radius: $btn--border-radius;
    padding: 16px;
}

.location-btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
    background: $blue-main;
    color: $white-100;
}

.location-btn__action {
    color: $gray-dark;
}

.location-menu {
    &.mat-mdc-menu-panel {
        //width: calc(320px - 16px - 16px); // padding: 16px 16px 8px 16px;
        //max-width: calc(320px - 16px - 16px);
        width: 360px;
        max-width: 360px;
    }
}

.location-menu__item p {
    font-size: $font-size-16;
    color: $black-100;;
}
