@use 'variables';
@use 'mixins';

.order-summary {
    //flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
}

.summary-details {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding-bottom: 20px;

    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        background-color: variables.$white-12;
        z-index: 1;
    }
}

.summary-details__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$white-64;
    font-size: variables.$font-size-14;
    font-weight: variables.$font--light;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: variables.$font-size-16;
    font-weight: variables.$font--medium;
    padding-top: 20px;
}

.summary-btn {
    //align-self: flex-end;
}
