.order-files {
    //flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.files-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $white-02;
    border: $border-width $border-style $white-12;
    border-radius: 6px;
    padding: 48px;
}

.files-add-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 320px;
    max-width: 320px;
    margin: 0 16px;
}

.files-add__icon .mat-icon {
    height: 72px;
    width: 72px;
    min-width: 72px;
}

.files-add__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: $white-64;
    font-size: $font-size-13;
    text-align: center;

    h5 {
        color: $white-100;
    }
}

.files {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .btn--44 {
        width: 100%;
    }
}

.files-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $white-06;
    border: $border-thin-width $border-style $white-12;
    border-radius: 6px;
    padding: 16px;
}

.files-item-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 16px;

    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        background-color: $white-08;
        z-index: 1;
    }
}

.files-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-icon {
        height: 52px;
        width: 44px;
        min-width: 44px;
    }
}

.files-item__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: $white-64;
    font-weight: $font--light;
    overflow: hidden;

    h5 {
        color: $white-100;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.files-item__delete {
    .delete-btn {
        color: $white-100;
        background: $white-08;
        border-radius: 50%;

        &:hover {
            background: $white-12;
        }
    }
}

.files-item-settings {
    display: flex;
    padding-top: 16px;

    .mdc-label {
        font-size: $font-size-14;
        color: $white-100;
    }
}

.files-item-form {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 16px;
}

.files-item-count {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        border: none;
        text-align: center;
        width: 48px;
        color: $white-100;
        font-size: $font-size-16;
        font-weight: $font--bold;
        background: transparent;
    }
}

.files-item-count__btn {
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    border: $border-width $border-style $white-24;
    border-radius: 8px;

    &:disabled .mat-icon {
        color: $white-48;
    }
}
