@use 'variables';
@use 'mixins';

.mat-mdc-slide-toggle {
    margin: auto 0;
}

.mdc-switch {
    .mdc-switch__track {
        --mat-slide-toggle-unselected-track-color: #{variables.$brand--bg};
        --mat-slide-toggle-unselected-hover-track-color: #{variables.$brand--bg};
        --mat-slide-toggle-unselected-focus-track-color: #{variables.$brand--bg};
        --mat-slide-toggle-unselected-pressed-track-color: #{variables.$brand--bg};

        --mat-slide-toggle-selected-track-color: #{variables.$blue-main};
        --mat-slide-toggle-selected-focus-track-color: #{variables.$blue-main};
        --mat-slide-toggle-selected-hover-track-color: #{variables.$blue-main};
        --mat-slide-toggle-selected-pressed-track-color: #{variables.$blue-main};
    }

    .mdc-switch__handle {
        --mat-slide-toggle-unselected-handle-color: #{variables.$gray-dark};
        --mat-slide-toggle-unselected-focus-handle-color: #{variables.$gray-dark};
        --mat-slide-toggle-unselected-hover-handle-color: #{variables.$gray-dark};
        --mat-slide-toggle-unselected-pressed-handle-color: #{variables.$gray-dark};

        --mat-slide-toggle-selected-handle-color: #{variables.$white-100};
        --mat-slide-toggle-selected-focus-handle-color: #{variables.$white-100};
        --mat-slide-toggle-selected-hover-handle-color: #{variables.$white-100};
        --mat-slide-toggle-selected-pressed-handle-color: #{variables.$white-100};

        .mdc-switch__ripple,
        .mdc-switch__shadow {
            display: none;
        }
    }

    &:disabled {
        cursor: not-allowed !important;
    }
}
