@use 'variables';
@use 'mixins';

.mat-mdc-snack-bar-container {
    --mat-snackbar-supporting-text-color: #{variables.$black-80};

    &.notify {
        margin-top: 72px;
    }

    &.success {
        --mat-snackbar-container-color: #{variables.$technical-green};
    }

    &.error {
        --mat-snackbar-container-color: #{variables.$technical-red};
    }
}
