@use 'variables';
@use 'mixins';

.mat-mdc-checkbox.mat-mdc-checkbox-disabled label {
    --mat-checkbox-disabled-label-color: #{variables.$white-48};
}

.mdc-checkbox {
    --mat-checkbox-state-layer-size: 32px;
    --mat-checkbox-disabled-unselected-icon-color: transparent;
    --mat-checkbox-unselected-pressed-icon-color: transparent;
    --mat-checkbox-selected-pressed-state-layer-color: transparent;
    --mat-checkbox-selected-pressed-icon-color: #{variables.$blue-main};
    --mat-checkbox-unselected-focus-icon-color: transparent;
    --mat-checkbox-selected-focus-state-layer-color: transparent;
    --mat-checkbox-selected-focus-icon-color: #{variables.$blue-main};

    .mdc-checkbox__native-control {
        &:enabled {
            &:checked ~ .mdc-checkbox__background {
                --mat-checkbox-selected-icon-color: #{variables.$blue-main};
                background-color: #{variables.$blue-main};
            }

            &:not(:checked):not(:indeterminate):not([data-indeterminate=true]) ~ .mdc-checkbox__background {
                background-color: #{variables.$white-24} !important;
            }

            &:focus:checked ~ .mdc-checkbox__ripple {
                display: none;
            }
        }

        &[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate=true]) ~ .mdc-checkbox__background {
            background-color: #{variables.$white-08} !important;
        }
    }


    .mdc-checkbox__background {
        --mat-checkbox-unselected-icon-color: transparent;
        --mat-checkbox-unselected-hover-icon-color: transparent;
        background-color: #{variables.$white-24};
    }

    .mdc-checkbox__ripple {
        display: none;
    }

    &:hover {
        --mat-checkbox-selected-hover-icon-color: #{variables.$blue-dark};
    }

    &:active {
        .mdc-checkbox__native-control:checked ~ .mdc-checkbox__ripple {
            display: none;
        }
    }
}
