@use 'variables';
@use 'mixins';

.cdk-overlay-pane.mat-mdc-dialog-panel {
    --mat-dialog-container-small-max-width: 90vh;
    max-width: var(--mat-dialog-container-small-max-width, 90vw);
}

.mat-mdc-dialog-container {
    --mat-dialog-container-color: #{variables.$brand--bg};

    padding: 0 16px;

    .mdc-dialog__surface {
        --mat-dialog-container-shape: #{variables.$dialog--shape};

        border: variables.$border-width variables.$border-style variables.$white-12;
    }

    .mdc-dialog__title {
        --mat-dialog-subhead-color: #{variables.$white-100};
        --mat-dialog-subhead-font: "Inter", sans-serif;
        --mat-dialog-subhead-size: #{variables.$font-size-20};
        --mat-dialog-subhead-weight: #{variables.$font--bold};
        --mat-dialog-subhead-line-height: #{variables.$font--20-line-height};
        --mat-dialog-headline-padding: 0 24px;

        text-align: center;
    }

    .mat-mdc-dialog-title + .mat-mdc-dialog-content {
        margin-top: 8px;
    }

    .mdc-dialog__content {
        --mat-dialog-supporting-text-color: #{variables.$white-64};

        text-align: center;
    }
}

.mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    --mat-dialog-with-actions-content-padding: 0 24px;
}

.mdc-dialog__actions {
    --mat-dialog-actions-padding: 16px 24px 18px;

    .actions-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }
}

.mat-mdc-dialog-actions {
    padding: var(--mat-dialog-actions-padding, 8px);
    justify-content: var(--mat-dialog-actions-alignment, start);
}

@include mixins.media-breakpoint-down(xs) {
    .mat-mdc-dialog-container {
        --mat-dialog-supporting-text-size: #{variables.$font-size-15};
    }
}
