<pg-header></pg-header>
<div class="print-content">
    <div class="print-panel">
        @if (!loading) {
            <div class="print-panel__content">
                <ng-container *ngTemplateOutlet="stepType==='payment' ? paymentTmpl : printTmpl"></ng-container>
            </div>
        } @else {
            <div class="print-loading">
                <mat-spinner diameter="48"></mat-spinner>
            </div>
        }

    </div>
</div>

<ng-template #paymentTmpl>
    @if (isSuccess) {
        <div class="print-panel__icon">
            <mat-icon [svgIcon]="ICONS.payment_success"></mat-icon>
        </div>
        <div class="print-panel__text">
            <h2>{{ successTitleLabel | translate }}</h2>
            <p>{{ successTextLabel | translate }}</p>
        </div>
        <div class="print-panel__btns">
            <button id="btnPrint" type="button"
                    class="btn btn--44 btn-blue"
                    (click)="onPrintOrder()"
                    [disabled]="isDisabled">
                @if (!submitted) {
                    <mat-icon [svgIcon]="ICONS.printer"></mat-icon>
                    <span>{{ btnPrintLabel | translate }}</span>
                }
                @if (submitted) {
                    <mat-spinner diameter="20"></mat-spinner>
                }
            </button>
        </div>
    } @else {
        <div class="print-panel__icon">
            <mat-icon [svgIcon]="ICONS.payment_fail"></mat-icon>
        </div>
        <div class="print-panel__text">
            <h2>{{ failTitleLabel | translate }}</h2>
            <p>{{ failTextLabel | translate }}</p>
        </div>
        <div class="print-panel__btns">
            <button id="btnAgain" type="button"
                    class="btn btn--44 btn-blue"
                    (click)="onPayAgain()"
                    [disabled]="isDisabled">
                @if (!submitted) {
                    <mat-icon [svgIcon]="ICONS.retry"></mat-icon>
                    <span>{{ btnAgainLabel | translate }}</span>
                }
                @if (submitted) {
                    <mat-spinner diameter="20"></mat-spinner>
                }
            </button>
            <button id="btnToAddFiles" type="button"
                    class="btn btn--44 btn-transparent"
                    (click)="goToOrder()"
                    [disabled]="isDisabled">
                <mat-icon [svgIcon]="ICONS.arrow_left"></mat-icon>
                <span>{{ btnBackLabel | translate }}</span>
            </button>
        </div>
    }

</ng-template>

<ng-template #printTmpl>
    <div class="print-panel__icon">
        <mat-icon [svgIcon]="ICONS.printing"></mat-icon>
    </div>
    <div class="print-panel__text">
        <h2>{{ printingTitleLabel | translate }}</h2>
        <p>{{ printingTextLabel | translate }}</p>
    </div>
    <div class="print-panel__btns">
        <button id="btnMore" type="button"
                class="btn btn--44 btn-blue"
                (click)="goToOrder()"
                [disabled]="isDisabled">
            <mat-icon [svgIcon]="ICONS.files"></mat-icon>
            <span>{{ btnMoreLabel | translate }}</span>
        </button>
    </div>
</ng-template>
